*{
  box-sizing: border-box;
}
/*----- ヘッダー　-----*/

.header{
  position: fixed;
  padding: 0 30px;
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
}
.header_inner {
  width: 100%;
}

.title a{
  text-decoration: none;
  color: #000;
  font-size: 24px;
  width: 80px;
}

.title a:hover{
  color:rgb(148, 148, 148);
  transition: 0.3s;
}

.main{
  margin-top: 60px;
}

@media only screen and (max-width: 768px) {
  .nav {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    background-color: white;
    transition: all .5s;
    z-index: 2;
    overflow-y: auto;
  }
  .hamburger {
    position: relative;
    right: 15px;
    top: 0px;
    width: 38px;
    height: 36px;
    cursor: pointer;
    z-index: 3;
  }
  .nav_list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav_item {
    text-align: center;
    padding: 10px 14px;
  }
  .nav_item a {
    display: block;
    padding: 8px 0;
    text-decoration: none;
    color: blue;
  }
  .nav_item a:hover {
    background-color: #eee;
  }
  .hamburger_border {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #333;
    transition: all .6s;
  }
  .hamburger_border_top {
    top: 0px;
  }
  .hamburger_border_center {
    top: 16px;
  }
  .hamburger_border_bottom {
    bottom: 0px;
  }
  .black_bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #333;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
  }

  /* 表示された時用のCSS */
  .nav-open .nav {
    left: 0;
  }
  .nav-open .black_bg {
    opacity: .8;
    visibility: visible;
  }
  .nav-open .hamburger_border_top {
    transform: rotate(45deg);
    top: 20px;
  }
  .nav-open .hamburger_border_center {
    width: 0;
    left: 50%;
  }
  .nav-open .hamburger_border_bottom {
    transform: rotate(-45deg);
    top: 20px;
  }
}/* sp */

@media only screen and (min-width: 769px) {
  .header_inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    padding: 12px 30px
  }

  .nav_list li{
    display: inline-block;
  }
  .nav_list li:not(:last-child){
    margin-right: 30px;
  }


  .nav_list li a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }
}/* pc */



/* ----- アイキャッチ ----- */
.eyecatch{
  width: 100%;
  padding-top: 70px;
}

.eyecatch__img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background:url(../img/mv.png) no-repeat center;
  background-size: cover;
}

.eyecatch__img--ttl{
  color: #fff;
  font-size: 50px;
  text-align: center;
  line-height: 1.5;
  padding: 0 30px;
}

.eyecatch__img--p{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  padding: 0 30px;
  line-height: 30px;
}

.eyecatch__msg{
  width: 100%;
  background: #000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 80px 0;
}
.eyecatch__msg--ttl{
  font-size: 30px;
  padding: 0 60px;
  margin-bottom: 30px;
}

.eyecatch__msg--p{
  line-height: 1.5;
  padding: 0 60px;

}


/* ----- サービス ----- */
.service{
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service__ttl{
  width: 100%;
  font-size: 30px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  padding: 0 60px;
}

.service__card{
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service__card--item{
  width: 40%;
  margin: 10px 10px 0;
}

.service__card--item img{
  width:100%;
}

.service__card--item h4{
  margin-top: 10px;
}

.service__card--item p{
  line-height: 1.2;
  margin-top: 5px;
}

.service__link a{
  width: 280px;
  height: 40px;
  background: rgb(211, 39, 39);
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  margin: 30px auto 60px;
  text-decoration: none;
}

.service__link a:hover{
  opacity: 0.5;
  transition: 0.5s;
}

@media only screen and (max-width: 768px) {
  .service__card--item{
  width: 100%;
  margin: 10px 10px 0;
}
}

/* ----- ニュース ----- */
.news{
  width: 100%;
  background: #000;
}

.news__ttl{
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 60px 60px 0;
}

.news__ttl h3{
  font-size: 30px;
}

.news__ttl span a{
  width: 150px;
  height: 36px;
  background: rgb(211, 39, 39);
  color:white;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  text-decoration: none;
}

.news__ttl span a:hover{
  opacity: 0.5;
  transition: 0.5s;
}

.news__list{
  width: 100%;
  padding: 0 60px 60px;
  margin-top: 30px;
}

.news__item a{
  width: 100%;
  background: white;
  color: #000;
  text-decoration: none;
  display:  inline-block;
  padding: 20px 0;
  margin-bottom: 10px;
}

.news__item a:hover{
  background-color: rgb(179, 171, 171);
}

.news__item--date{
  padding: 0 10px;
}

.news__item--ttl{
  font-weight: bold;
}


/* ----- 社員ブログ ----- */
.blog{
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog__ttl{
  width: 100%;
  font-size: 30px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  padding: 0 60px;
}

.blog__card{
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog__card--item{
  width: 30%;
  margin: 10px 10px 0;
}

.blog__card--item img{
  width:100%;
}
.blog__card--item img:hover{
  opacity: 0.5;
  transition: 0.5s;
}


.blog__card--ttl a{
  margin-top: 10px;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
.blog__card--ttl a:hover{
  color:rgb(148, 148, 148);
  transition: 0.3s;
}
.blog__card--date{
  font-size: 14px;
  margin-top: 10px;
}

.blog__link a{
  width: 280px;
  height: 40px;
  background: rgb(211, 39, 39);
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  margin: 50px auto 60px;
  text-decoration: none;
}

.blog__link a:hover{
  opacity: 0.5;
  transition: 0.5s;
}


@media only screen and (max-width: 768px) {
  .blog__card--item{
  width: 100%;
  margin: 10px 10px 0;
}
}

/* ----- リンク ----- */
.link{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.link__company {
  width: 100%;
  height: 250px;
  background: rgb(211, 39, 39);
}

.link__company:hover{
  opacity: 0.5;
  transition: 0.5s;
}

.link__company a{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 250px;
}

.link__recruit {
  width: 100%;
  height: 250px;
  background: #000;
}

.link__recruit:hover{
  opacity: 0.5;
  transition: 0.5s;
}

.link__recruit a{
  font-size: 20px;
  font-weight: bold;
  background: #000;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 250px;
}

/* ----- お問い合わせ ----- */
.contact{
  width: 100%;
  background: rgb(236, 234, 234);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__ttl{
  width: 100%;
  font-size: 30px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  padding: 0 60px;
}

.contact-p{
  text-align: center;
  line-height: 1.5;
}

.contact__link a{
  width: 280px;
  height: 40px;
  background: rgb(211, 39, 39);
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  margin: 50px auto 60px;
  text-decoration: none;
}

.contact__link a:hover{
  opacity: 0.5;
  transition: 0.5s;
}

/* ----- フッター ----- */
.footer a {
  text-decoration: none;
  color: inherit;
}
.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}
.footer-inner{
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  align-items: center;
}

.footer-nav-list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.footer-nav-item a:hover{
  color:rgb(148, 148, 148);
  transition: 0.3s;
}
.footer-nav-item:not(:last-child) {
  border-right: 1px solid #fff;
  padding:0 10px;
}
.footer-nav-item:last-child{
  padding-left: 10px;
}

.copyright{
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  .footer-inner{
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

  .footer-nav-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.footer-nav-item:not(:last-child) {
  border-style: none;
  padding:10px;
}
.footer-nav-item:last-child{
  padding-top: 10px;
}

}